---
---

@import "{{ site.theme }}";

header {
  display: none;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }